# Python Specific
*.pyc
*.egg-info
dist/
__pycache__/
profiler
.pytest_cache/

# Database and logs
*.log
*.log.*
logs/
cov.xml
*coverage*
!.coveragerc
htmlcov/

# Caches
.ruff_cache/

# Misc
out/
notes.md
